<div>
  <h1>Detalles del producto</h1>
  <hr/>
  <button (click)="onGoBack()" class="btn btn-primary" style="font-size: 1rem; padding: 5px 10px;"><i class="fas fa-chevron-circle-left"></i></button>
  <div class="details" style="display: flex; justify-content: space-evenly">
    <div class="details-img" style="width: 50%;">
      <img [src]="[product.img]" alt="{{product.name}}" class="img-origin" style="width: 100%"/>
    </div>
    <div class="details-info" style="width: 60%;">
      <h2>{{product.name}}</h2>
      <h4>Category: {{product.category}}</h4>
      <h4>Description: {{product.description}}</h4>
    </div>
    <div class="details-addToCart" style="border: 1px solid lightgray; height: 200px; width: 60%; padding: 25px; text-align: center;">
      <p>Unit Value: ${{product.price}}</p>
      <div class="qty" style="display: flex; height: 25px; margin: 10px;">
	<label for="qty">Qty: </label>
        <select id="qty" value="1" (change)="changePrice($event)" style="margin-right: 50px">
          <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
	    {{i}}
	  </option>
        </select>
        <p class="value-total">Total Value: ${{totalPrice}}</p>
      </div>
      <button class="btn btn-primary btn-lg btn-block">Add To Cart</button>
    </div>
  </div>
</div> 
